<%= form_tag(blogs_path) do %>
  <div class="form-group">
    <%= label_tag 'title', 'Blog title' %>
    <%= text_field_tag 'title', blog.title, class: 'form-control' %>
  </div>
  <%= submit_tag %>
<% end %>
