<h1>Homepage</h1>
<h2>Posts</h2>
<% @posts.each do |post| %>
  <%= post.title %><br />
<% end %>
<br />
<h2>Skills</h2>
<% @skills.each do |skill| %>
  <%= skill.title %> - <%= skill.percent_utilised %><br />
<% end %>
<br />
<h2>Portfolio</h2>
<% @portfolios.each do |portfolio| %>
  <%= portfolio.title %><br />
<% end %>
